<!DOCTYPE html>
  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agro Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
    
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">AgroBusiness</a>
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="farmer-register.html">Farmer Register</a></li>
                <li><a href="add-farming.html">Add Farming</a></li>
                <li><a href="farmer-details.html">Farmer Details</a></li>
                <li><a href="agro-products.html">Agro Products</a></li>
           
                <li><a href="/signup" class="sign-in-button">Sign In</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="center-text">
            <h1>Sell Agro Products and Buy</h1>
            <p>DBMS Mini Project</p>
        </div>
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
        </div>
        <div class="container">
            <div class="credits">
                <br>
                Developed by <a href="/">Aysha Afrah</a>
            </div>
        </div>
    </footer><!-- End Footer -->
</body>
</html>